.pagination-container {
  align-self: center;
  width: fit-content;
  border-radius: 10px;

  .pagination {
    border-radius: 10px;
    display: flex;

    .focus {
      color: rgb(208, 61, 186);
      font-weight: bold;
    }
    
    button {
      box-sizing: border-box;
      padding: 4px;
      background-color: white;
      border: none;
      font-size: 0.9rem;
    }

    .pagination__prev-bttn {
      border-left: solid 2px rgb(208, 61, 186);
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-top: solid 2px rgb(208, 61, 186);
      border-bottom: solid 2px rgb(208, 61, 186);
      border-right: solid 2px rgb(208, 61, 186);
    }

    .pagination__current-page {
      box-sizing: border-box;
      font-size: 0.9rem;
      padding: 4px;
      border-top: solid 2px rgb(208, 61, 186);
      border-bottom: solid 2px rgb(208, 61, 186);
    }

    .pagination__next-bttn {
      border-right: solid 2px rgb(208, 61, 186);
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      border-top: solid 2px rgb(208, 61, 186);
      border-bottom: solid 2px rgb(208, 61, 186);
      border-left: solid 2px rgb(208, 61, 186);
    }
  }
}