
.card-container{
  box-sizing: border-box;
  width: auto;
  
}  

.hide {
  display: none;
}

.card-container .cards {
  width: auto;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}