
/*Navigation Bar*/
.navbar{
  background-color: white;
  width: 100%;
}

.navbar-list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 60px;
}

.navbar-list .navbar-list-item{
  padding: 0 1rem;
}

.navbar-list-item a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-list-item.home a{
  font-size: 1.5rem;
}

.navbar-list .navbar-list-item .logo {
  height: auto;
  width: 40px;
}

.navbar-list .navbar-list-item input {
  width: 30vw;
  min-width: 300px;
  padding-left: 20px;
  height: 30px;
  border-radius: 20px;
  border-color: #e0e0e0;
  border-style: none;
  background-color: rgb(235, 235, 235);
  background-image: url(/assets/images/lupa.png);
  background-repeat: no-repeat;
  background-position: left;
}

.navbar-list-item.placeholder img {
  height: auto;
  width: 10px;
}

.navbar-list .navbar-list-item.user {
  display: inline;
  margin-left: auto;
}
.navbar-list .navbar-list-item .user-image {
  height: auto;
  width: 35px;
}

.navbar-list .navbar-list-item img {
  display: inline;
}

.navbar-list .focus a{
  color: rgb(208, 61, 186);
}